{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listings</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ listing.id }}</td>
            </tr>
            <tr>
                <th>Sellingprice</th>
                <td>{{ listing.sellingPrice }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ listing.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('listing_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('listing_edit', { 'id': listing.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
